$main-text-color: rgb(255, 255, 255);
$nav-hover-text-color: rgb(252, 227, 138);
$section-title-text-color: rgb(51, 51, 51);
$section-text-line-color: rgb(243, 129, 129);
$section-text-color: rgb(153, 153, 153);
$socials-bgc-color-activated: rgb(243, 129, 129);
$socials-bgc-color: rgb(252, 227, 138);
$socials-icon-color: rgb(255, 255, 255);
$socials-icon-color-activated: rgb(243, 129, 129);
$card-shadow-color: rgb(149, 225, 211);
$link-text-color: rgb(243, 129, 129);
$button-bgc-color: rgb(149, 225, 211);
$footer-text-color: rgb(51, 51, 51);
$footer-border-color: rgb(231, 231, 231);
$footer-placeholder-color: rgb(204, 204, 204);
$footer-button-color: rgb(149, 225, 211);
$main-font: 'Roboto',
sans-serif;
$logo-font: "Montserrat",
sans-serif;
$navigation-font: "Montserrat",
sans-serif;
$coursive-title-font: "Kaushan Script",
sans-serif;
$title-font: "Montserrat",
sans-serif;
$button-font: "Montserrat",
sans-serif;
$card-person-name-font: "Montserrat",
sans-serif;
$footer-font: "Montserrat",
sans-serif;
